---
---

// Imports
@import "reset";
@import "variables";
@import "normalize";
@import "skeleton";

// Selection highlighting
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}


// More imports
@import "highlights";
@import "svg-icons";
