// Imports
@import "reset";
@import "variables";

::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

.masthead {
  text-align: center;
  float: none;
}

// More imports
@import "highlights";
@import "svg-icons";
