---
layout: default
---

<article class="post">

{% if page.banner %}<div class="image featured"><img src="{{page.banner | prepend: site.baseurl}}" alt="" /></div>{% endif %}

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class ="footer">
    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    <div class="tags">
      Tags
      {% for tag in page.tags %} <div class='tag'><a href='tag/#{{tag}}'>{{tag}}</a></div> {% endfor %}
    </div>
  </div>

  {% include disqus.html %}
</article>
