---
layout: default
---

<article class="post">

  <h3 class="title">{{ page.title }}</h3>

  <div class="post-info">

    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% if page.tags %}
      <div class="tags">
        This post is tagged with:
        {% for tag in page.tags %}
            <a class="tag" href='{{ site.baseurl }}/tags/#{{ tag | downcase }}'>{{ tag | downcase }}</a>
        {% endfor %}
      </div>
    {% endif %}

    <hr>

  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class ="footer">

  </div>

  {% include disqus.html %}
</article>
