---
layout: default
---

<article class="post">

  <!-- {% if page.banner %}
    <div class="image img-banner-wrapper">
      <img class="img-banner" src="{{page.banner | prepend: site.baseurl}}" alt="" />
    </div>
  {% endif %} -->

  <h3 class="title">{{ page.title }}</h3>

  <div class="post-info">

    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% if page.tags %}
      <div class="tags">
        This post is tagged with:
        {% for tag in page.tags %}
          <div class='tag'>
            <a href='{{ site.baseurl }}/tags/#{{tag}}'>{{tag}}</a>
          </div>
        {% endfor %}
      </div>
    {% endif %}

  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class ="footer">

  </div>

  {% include disqus.html %}
</article>
